extends ../base

block content
    div.watch
        video(src="/" + video.fileUrl, controls)
        div.watch__info.watch__title
            h2=video.title
        div.watch__info.watch__author
            img(src="/" + loggedInUser.avatarUrl).watch__author--img
            a(href=`/users/${video.owner._id}`)=video.owner.username
        div.watch__info.watch__meta
            div.watch__meta--info
                small 조회수 #{video.meta.views} 회
                small=video.createdAt
            div.watch__meat--description
                p=video.description
        if String(video.owner._id) === String(loggedInUser._id)
            div.watch__options
                a(href=`${video.id}/edit`) Edit Video &rarr;
                a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts
    script(src="/static/js/videoPlayer.js") 